<div class="row entry">

  <div class="title">About</div>
  <hr>

  <h4>What is EmberFlare?</h4>
  <br>
  <p>
    EmberFlare is a community driven place where everyone can share link(s) with a short description to content related to all things Ember. Be it a blog post, a video or something else related to Ember - it should be posted on EmberFlare.
  </p>
  <p>
    And to be completely honest it is an idea clone of <a href="http://rubyflow.com">rubyflow.com</a>.
  </p>

  <br>

  <h4>Aren't <a href="http://www.reddit.com/r/emberjs">/r/emberjs</a>, <a href="http://emberwatch.com/">EmberWatch</a> or < insert site name > good enough?</h4>
  <br>
  <p>Well, yes, they are, but I (<a href="https://github.com/ugisozols">Uģis</a>) built EmberFlare because:
    <ul>
      <li>good content is scattered around Twitter, Reddit etc. and I was hoping to create a single place where Ember users could share the news with the rest of the community</li>
      <li>it was a great excuse to build something with Ember.js :)</li>
    </ul>
  </p>
</div>
