<div class="row about">

  <div class="title">About</div>
  <hr>

  <h4>What is EmberFlare?</h4>
  <br>
  <p>
    EmberFlare is a community curracted resource about all things Ember.js. It's basically an idea clone of <a href="rubyflow.com">rubyflow.com</a> which I (Uģis) really like and use almost every day.
    <br>
    EmberFlare is also an open source project so if you have spotted a bug somewhere click on the red ribbon above, fork the project and send us a pull request.
  </p>

  <br>

  <h4>But why? There are already grate places where people submit Ember related stuff!</h4>
  <br>
  <p>Well, yes there are but I built EmberFlare because: a) I wanted to create a single place for all of the content links that otherwise are scattered around Twitter, Reddit and other places. b) It was a great excuse to use Ember since the frontend is (obviously) built using Ember.js.</p>

</div>
