{{#link-to "entries"}}Entries{{/link-to}} |
{{#link-to "entries.new"}}New Entry{{/link-to}} |

{{#if session.isAuthenticated}}
  <button {{ action 'logout' }}>Logout</button> - you're looged in!
{{else}}
  <button {{ action 'login' }}>Login</button>
{{/if}}

<br><br>

{{outlet}}
