{{#link-to "entries"}}Entries{{/link-to}} |
{{#link-to "entries.new"}}New Entry{{/link-to}} |

{{#if session.isAuthenticated}}
  {{#link-to 'logout'}}Logout{{/link-to}}
  <p class="navbar-text pull-right">Your are currently signed in</p>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}

<br><br>

{{outlet}}
