<div class="row error404">

  <div class="title">404</div>
  <hr>

  <p>What if we told you have reached the end of the internet? But seriously, the page you requested wasn't found so we're showing this lovely message instead.</p>
  <p>If you're certain that the page you were trying to access should have been there - let us know. Thanks!</p>
</div>
