<div class="row entry">

  <div class="title">Application Error</div>
  <hr>

  <p>Possible cause:</p>
  <ul>
    <li>Connection problems</li>
    <li>Server not responding</li>
  </ul>
  
  <p>Possible solutions:</p>
  <ul>
    <li>Check your internet connection, and try again</li>
    <li>Contact us</li>
  </ul>
</div>
