<form {{action "login" on="submit"}}>
  Username: {{input type="text" placeholder="Title ...." value=username}}
  <br>
  Password: {{input type="password" placeholder="Title ...." value=password}}
  <br>
  {{input type="submit" value="Login"}}
  <hr>
</form>
