<div class="row signin">

  <div class="title">Sign in</div>
  <hr>

  {{#if signinFailed}}
    <div class="alert alert-error">
      <button {{ action "clearWarning" }}type="button" class="close">&times;</button>
      Sign in failed! Either the username or password was incorrect.
    </div>
  {{/if}}

  <form {{action 'authenticate' on='submit'}} class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        {{input id='username' value=identification placeholder='Username'}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        {{input id='password' type='password' value=password placeholder='Password'}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
  </form>

</div>
