@import "bootstrap";
@import "font-awesome";

///////////////////////////////////
//      PAGE
/////////////////////////////////
body{
  background-color: #E5E9EC;
  
  a{
    color: #0AA699;
  }
}

///////////////////////////////////
//      MISC
/////////////////////////////////
.gravatar{
  border-radius: 50%;
}


///////////////////////////////////
//      HEADER
/////////////////////////////////
.navbar{
  background-color: #22262E;
  .container{
    margin-top: 15px;
    margin-bottom: 15px;
    
    .navbar-brand{
      font-size: 20px;
      color: #0AA699;
      font-weight: bold;
    }
    
    li a{
      font-size: 16px;
      color: #fff;
      
      &:hover {
        color: #0AA699;
      }
    }
    
    .nav-username {
      color: #fff;
    }
    
    .gravatar{
      margin: 3px 5px;
    }
    
    .xs-test ul{
      margin-right: 15px;
    }
  } 
}


///////////////////////////////////
//      PAGES
/////////////////////////////////

.entry{
  background-color: #fff;
  margin-bottom: 25px;
  padding: 15px;
  
  .author{
    text-align: center;
    
    .name{
      margin-top: 7px;
    }
  }
  
  .xs-gravatar{
    float:left;
    margin:5px;
  }

  .title{
     color: #F35958;
     font-weight:bold;
    font-size: 23px;
      line-height: 30px;
  }
    
  .posted-at{
    margin-top: 5px;
    color: #8B91A0;
  }
  
}

