@import "bootstrap";

.navbar {
  .brand {
    font-weight: bold;
    color: #E3310D;
  }
}

.container {
  h1, h2, h3, h4, h5, h6 {
    color: #3EA0C0;
  }
  h4 {
    margin-bottom: 0;
  }
  h6 {
    margin-top: 0;
  }
}
